* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 50px;
}

.container {
  margin: 20px;
  border: solid 1px black;
}

#form input {
  display: block;
  margin: 10px;
}